*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar-brand
{
    margin-left: 110px;

}

.box
{
    height: 25px!important;
    width: 150px!important;
    position: relative;
    
}
.navbar
{
    height: 80px;
}
.move
{
    margin-right: 180px;
}
.btn
{
    padding: 1.0px!important;
    margin-left: 5px;
    background-color:#365899!important;
    font-weight: 500!important;

    
}
h3{
    position: absolute;
    top: 5px;
    font-size: 14px!important;
    font-weight: normal!important;
    color: #fff;
}
h4{
    position: absolute;
    top: 5px;
    right: 350px;
    font-size: 14px!important;
    font-weight: normal!important;
    color: #fff;
}
p{
    position: absolute;
    bottom: -10px;
    left: 940px;
    color:#869FC9;
    font-size: 13px;
}
.facebook
{
    font-size: 40px!important;
    font-weight: 600;
    
}

h2{
    color:#88898A;
    font-size: 20px!important;
    margin-top: 50px;
}

.box2
{
    color:#ABABAB;
    margin-right: 130px!important;
    margin-top: 20px;
}
.quick
{
    margin-bottom: 20px;
}

.radio
{
    color: #43464D;
    font-weight:500;
    font-size: 18px;
}
.h7{
    color: #C4C5C7;
    font-size: 12px!important;
}

.mainbody
{
    background-color:#E9EBEE;
    height: 630px;
    
    
}
.secondmain
{
    padding-left: 80px!important;
}
.move1
{
    
    padding-left: 90px;
}

.move2
{
    
    padding-left: 100px!important;

}
.btn2{
    background-color: #659D50!important;
    color: #fff!important;
    padding-left: 40px!important;
    padding-right: 40px!important;
    padding-top: 5px!important;
    padding-bottom: 5px!important;

}
.lasth6
{
    color: #777777;
    font-size: 13px;
    margin-top: 20px;
}
.heading
{
    margin-top: 20px;
    margin-bottom: 20px;
}
.languages
{
    margin-top: 50px;
    font-size: 13px;
}
